@mixin desktop {
    @media(max-width:1024px){
        @content
    }
};
@mixin lg {
    @media(max-width:960){
        @content
    }
};
@mixin pad {
    @media(max-width:768px){
        @content
    }
};
@mixin mobile{
    @media(max-width:480px){
        @content
    }
};
@mixin iphoneX {
    @media(max-width:375px){
        @content
    }
};
@mixin iphone5 {
    @media(max-width:320px){
        @content
    }
};

$color-red:#ee4143;
$color-navyBlue:#4b4b65;
$color-aid:#7c8ec9;
$color-gray:#d4d4d4;
$color-bg:rgb(235, 235, 235);
$color-bg-aid:#f8f8f8;

@mixin a-text{
    color:white;
    text-decoration:none;
}