@import "@/assets/helpers/breakpoint.scss";

/* Reset */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	h1, h2, h3, h4, h5, h6, p{
		font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif

    }
    button{
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
        outline: none;
        background:transparent; 
        :focus{
            border:0;
        }
    }
/*main*/
body{
    background:$color-bg;
}
.pt150{
    padding-top: 150px !important;
    @include pad(){
        padding-top: 100px !important;
    }
}
.pointer{
    cursor:pointer !important;
}

/*main*/
#home,#shopInside{
    padding-top:150px;
    width: 90%;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
.bgActive{
    transition:.4s;
    background-color:$color-bgActive;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index:510;
    .title{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        display: inline-block;
        color:$color-gray;
        font-size:2rem;
        letter-spacing: 1rem;
        text-align: center;
        font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
        filter: blur(1px);
    }
}
    /*checkout*/
    .main{
        margin: 0 auto 3rem auto;
        width: 100%;
        position: relative;
        box-shadow:0px 1px 3px 1px rgba(0, 0, 0, 0.4);
        padding:15px 15px 0 0;
        @include mobile(){
            margin-bottom:3rem;
            box-shadow:none;
        }
        @include pad(){
            padding:15px 0 0 0;
        }
        &>div:nth-child(1){
            @include mobile(){
                padding: 0;
            }
        }
        .bagTitle{
            background:#f8f8f8;
            margin-bottom: 1rem;
            display:block;
            padding:.75rem;
            tr{
                padding-left:30px;
                @include mobile(){
                    padding-left:5px;
                } 
            }
            th{
                align-items: center;
            }
            th:nth-child(1){
                flex: 0 0 23.5%;
                max-width: 23.5%;
                @include desktop(){
                    flex: 0 0 20%;
                    max-width: 20%;
                }
                @include pad(){
                    flex: 0 0 21%;
                    max-width: 21%;
                }
                @include mobile(){
                    flex: 0 0 24%;
                    max-width: 24%;
                }
                @include iphone5(){
                    flex: 0 0 24%;
                    max-width: 24%;
                }
            }
            th:nth-child(2){
                flex: 0 0 21%;
                max-width: 21%;
                @include mobile(){
                    flex: 0 0 18%;
                    max-width: 18%;
                }
            }
            th:nth-child(3){
                flex: 0 0 21%;
                max-width: 21%;
                @include mobile(){
                    flex: 0 0 19%;
                    max-width: 19%;
                }
            }
            th:nth-child(4){
                flex: 0 0 20.5%;
                max-width: 20.5%;
            }
            th:nth-child(5){
                flex: 0 0 13%;
                max-width: 13%;
            }
        }
        .sale{
            border:1px solid #28a745;
            &::before{
                border-right:1px solid #28a745;
                @include mobile(){
                    border:0;
                }
            }
        }
        .bagInfo{
            position: relative;
            margin-bottom:1rem;
            width:100%;
            height:190px;
            background: #f8f8f8;
            // box-shadow:0px 1px 3px 1px rgba(0, 0, 0, 0.1);
            @include iphone5(){
                height:140px;
            }
            img{
            max-width: 100px;
                @include mobile(){
                    width: 100%;
                }
            }
            &::before{
                content:'';
                position:absolute;
                transform:translate(-50%,-50%);
                top:50%;
                width:30px;
                height:30px;
                background: $color-bg;
                border-radius:100%;
                @include mobile(){
                    width: 0;
                }
            }
            &>tr:nth-child(1){
                padding-left:25px;
                position:absolute;
                top:50%;
                transform: translateY(-50%);  
                align-items: center;  
                width: 100%;
                @include mobile(){
                    padding-left:5px;
                }
                td:nth-child(6){
                    @include mobile(){
                        padding:0 5px 0 0;
                    }
                }
            }
        }
        .priceInfo{
            background: #f8f8f8;
            margin-bottom:1rem;
            padding-bottom: 1rem;
            width: 100%;
            // height: 590px;
            @include lg(){
                margin:0 15px 15px 15px;
            }
            &::after{
                content:'';
                background:$color-bg;
                position: absolute;
                top:56%;
                transform:translateX(-50%);
                width:1.6rem;
                height:1.8rem;
                border-radius:99%;
                left: 0;
                @include desktop(){
                    top:52.5%;
                }
                @include pad(){
                    top:57%;
                }
                @include iphoneX(){
                    top:52.5%;
                }
            }
            &::before{
                content:'';
                background:$color-bg;
                position: absolute;
                top:56%;
                transform:translateX(50%);
                width:1.6rem;
                height:1.8rem;
                border-radius:99%;
                right: 0;
                @include desktop(){
                    top:52.5%;
                }
                @include pad(){
                    top:57%;
                }
                @include iphoneX(){
                    top:52.5%;
                }
            }
            .title{
                font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
                font-weight:bold;
                font-size:1.5rem;
                @include pad(){
                    font-size:1.2rem;
                }
            }
        }
        .goCheckOut{
            width: 100%;
            background: #000;
            color: #fff;
            display:block;
            padding:5% 0;
            &::before{
                content:'';
                border:3px dotted black;
            }
        }            
        .coupons{
            border-top:8px dotted #00000038;
            margin-top:3rem;
            .barcode{
                img{
                    width: 100%;
                }
            }
            .couponsInfo{
                margin: .5rem auto 0 auto;
                border-bottom:1px solid black;
                border-width:80%;
                input:nth-child(1){
                    border:0;
                    background:transparent;
                    padding:0;
                    &:focus {
                        outline: none; 
                    }
                }
                .applyCoupons{
                    padding:0;
                    font-size:1.5rem;
                    transition:.6s;
                    &:focus {
                        outline: none; 
                    }
                    &:hover{
                        padding-left:20px;
                    }
                }
            }
            .couponCode{
                letter-spacing:5px;
            }
        }  
    }
